@use "styles" as s;

:host {
	display: block;
	border-bottom: var(--border-width) solid var(--clr-border);
}

nav {
	max-width: s.$breakpoint-large;
	margin-inline: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--space-sm) var(--space-md);
	padding-left: var(--space-xs);
}

section.logo-and-name {
	display: flex;
	align-items: center;
	gap: var(--space-xs);

	img {
		height: 3rem;
	}
}

nav > ul {
	list-style: none;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: var(--space-sm);

	position: fixed;
	inset: 0;
	translate: 100vw 0;
	background-color: var(--clr-background);
	transition: translate 150ms cubic-bezier(0.4, 0, 0.2, 1);

	&.open {
		translate: 0 0;
	}

	@include s.small {
		position: static;
		flex-direction: row;
		translate: 0 0;
	}
}

ul > button {
	@include s.button-bold;
	margin-top: var(--space-md);

	@include s.small {
		margin-top: 0;
		margin-left: var(--space-md);
	}
}

a {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration-thickness: 0px;
	color: var(--clr-muted);
	transition: color 300ms ease;

	&:hover {
		color: var(--clr-primary);
		text-decoration-thickness: var(--border-width);
	}

	&.active {
		color: var(--clr-primary);
		text-decoration-thickness: var(--border-width);

		&:hover {
			color: var(--clr-muted);
		}
	}
}

img.menu,
img.close {
	height: 2rem;
	cursor: pointer;

	@include s.small {
		display: none;
	}
}

img.close {
	position: absolute;
	top: 2rem;
	right: 2rem;
}
