$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-large: 1440px;

:root {
	--space-base: 0.25rem; /* 4px */
	--space-xs: 0.5rem; /* 8px */
	--space-sm: 1rem; /* 16px */
	--space-md: 1.5rem; /* 24px */
	--space-lg: 3rem; /* 48px */
	--space-xl: 4rem; /* 64px */

	--gutter: 1.25rem; /* 20px */

	--border-width: 3px;
	--offset-shadow: 4px;
	--radius: 0px;
}

// MEDIA QUERY VIEWPORTS
@mixin min-width($res) {
	@media screen and (min-width: $res) {
		@content;
	}
}
@mixin max-width($res) {
	@media screen and (max-width: $res) {
		@content;
	}
}
@mixin small {
	@include min-width($breakpoint-small) {
		@content;
	}
}
@mixin medium {
	@include min-width($breakpoint-medium) {
		@content;
	}
}
@mixin large {
	@include min-width($breakpoint-large) {
		@content;
	}
}

@mixin no-shadow {
	box-shadow: 0px 0px 0px 0px var(--clr-shadow);
}

@mixin shadow {
	box-shadow: 4px 4px 0px 0px var(--clr-shadow);
}

@mixin shadow-lg {
	box-shadow: 8px 8px 0px 0px var(--clr-shadow);
}

@mixin button-bold {
	text-transform: uppercase;
	font-weight: bold;
}
