@use "styles" as s;

:host {
	display: block;
	border-top: var(--border-width) solid var(--clr-border);
	background-color: var(--clr-primary-900);
	color: var(--clr-on-primary);
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--space-lg);

	padding: var(--space-md) var(--space-md);

	max-width: s.$breakpoint-large;
	margin-inline: auto;

	@include s.small {
		flex-direction: row;
	}
}

section.title,
section.links,
section.credits {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--space-sm);
}

section.title {
	gap: var(--space-xs);
}

section.title > span {
	@include s.label-regular;
	font-weight: bold;
	text-transform: uppercase;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

a {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration-inset: 999px;
	color: var(--clr-muted);
	transition: color 300ms ease;
	max-width: 40ch;
	text-wrap: balance;

	&:hover {
		color: var(--clr-on-primary);
		text-decoration-inset: 0px;
	}
}
